apiVersion: apps/v1
kind: Deployment
metadata:
  name: brilliant-api
  namespace: brilliant
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: brilliant-api
  template:
    metadata:
      labels:
        app: brilliant-api
    spec:
      containers:
        - name: api
          image: brilliant-api:1.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: api-config
          env:
            - name: MONGO_URL
              value: "mongodb://root:rootpass@mongo:27017/?authSource=admin"
          startupProbe:
            httpGet:
              path: /api/health
              port: 3000
            failureThreshold: 30
            periodSeconds: 2
          readinessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 2
            periodSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
