apiVersion: apps/v1
kind: Deployment
metadata:
  name: brilliant-web
  namespace: brilliant
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: brilliant-web
  template:
    metadata:
      labels:
        app: brilliant-web
    spec:
      containers:
        - name: web
          image: brilliant-web:1.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 2
            periodSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
